  <div class="panel panel-default">
    <div class="panel-body">
	
  	  <div class="row">
        <%= render 'hero' %>
      </div>
      <br><br>

  	  <div class="row">
        <%= render 'about' %>
      </div>
      <br><br>


      <h3 class="product-heading text-center">More Pictures</h3>
      <%= render 'photo_carousel' %>
	
    </div>
  </div>